{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 40,
        "safari": 9,
      },
      "modules": false,
      "include": [],
      "useBuiltIns": true,
      "uglify": true,
      "loose": false,
      "debug": false
    }],
    "react",
  ],
  "plugins": [
      "transform-decorators-legacy",
      "transform-class-properties",
      "transform-object-rest-spread",
      "transform-runtime",
  ]
}
