{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "browsers": ["Chrome >= 37", "ff >= 45", "Safari > 8", "IE >= 10"]
      }
    ],
    "react"
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
