{
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "extends": [
    "prettier",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-closing-bracket-location": [
      1,
      "after-props"
    ],
    "react/sort-comp": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-mixed-operators": 0
  }
}
