{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "extends": [
    "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended" // Uses the recommended rules from @typescript-eslint/eslint-plugin
  ],
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true, // Allows for the parsing of JSX
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    },
    "settings": {
      "react": {
        "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/require-default-props": 1,
    "react/jsx-closing-bracket-location": [1, "after-props"],
    "react/sort-comp": 0,
    "react/forbid-prop-types": 0,
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "arrow-parens": ["error", "as-needed"],
    "no-mixed-operators": 0
  }
}
