{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true, // Allows for the parsing of JSX
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    },
    "settings": {
      "react": {
        "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/extensions": [".js", ".jsx"]
  },
  "rules": {
    "no-param-reassign": "warn",
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "arrow-parens": ["error", "as-needed"],
    "no-mixed-operators": 0,
    "no-use-before-define": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/prop-types": "off",
    "react/static-property-placement": "off",
    "@typescript-eslint/no-use-before-define": ["error"]
  }
}
