@keyframes line-scale-pulse-out {
  0% {
    transform: scaleY(1.0);
  }
  50% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1.0);
  }
}

.image-slides-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  line-height: 500px;
  transform: translate(-50%, -50%);
  > div {
    display: inline-block;
    width: 4px;
    height: 35px;
    margin: 2px;
    border-radius: 2px;
    background-color: #fff;
    animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
    animation-fill-mode: both;

    &:nth-child(2),
    &:nth-child(4) {
      animation-delay: -0.4s !important;
    }

    &:nth-child(1),
    &:nth-child(5) {
      animation-delay: -0.2s !important;
    }

  }
}

.image-slides-view-port {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.image-slides-container {
  will-change: transform;
  position: relative;
  overflow: visible;
  height: 100%;
  white-space: nowrap;
}

.image-slides-index {
  position: absolute;
  right: 10%;
  bottom: 10%;
  z-index: 100;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 14px;
}

.image-slides-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  padding-top: 6px;
  border: 0;
  border-radius: 2px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.image-slides-blackboard {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  text-align: center;
}

.image-slides-content {
  will-change: transform;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  user-select: none;
}
